* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1640px;
    width: 100%;
    /* margin: 0 auto; */
    padding: 0 15px;
    margin-top: 81px;
}
li {
    list-style: none;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 62px;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_section .box nav {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    color: #1d6dc3;
}

.nav-section .box {
    width: 529px;
    height: 170px;
}

.nav_section .box h1 {
    width: 529px;
    height: 170px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 70px;
    color: #000;
}

.nav_section .box p {
    width: 637px;
    height: 113px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.icons {
    position: absolute;
    width: 700px;
    height: 1000px;
    padding-top: 30px;
    padding-right: 158px;
    right: 0;
    top: 0;
    border-radius: 0 0 0 350px;
    background: linear-gradient(229deg, #1aa7ec 0%, #1b92dd 0.01%, #1e2f97 100%);
    box-shadow: 20px 30px 50px 0 rgba(0, 0, 0, 0.1);
}
.icons .rdm {
    position: absolute;
    top: 240px;
    bottom: 210px;
    right: 264px;
    width: 800px;
    height: 550px;
}

.icons .icon_search {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 416px;
}
.icon_search img {
    margin-top: 80px;
}
.icons .icon_search p {
    margin-top: 80px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.social {
    display: grid;
    align-items: center;
    position: absolute;
    top: 397px;
    right: 124px;
    gap: 45px;
}